@{
    Layout = "_LayoutUser";
}
@model LostItemViewModel
@{
    ViewData["Title"] = "Create";
    var image = "Photos/home 1081.jpg";
}
<style>
    .form-control {
        border-radius: 31px;
    }
</style>

<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />

<h4>Register Lost Item</h4>
<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="row" onload="ola() " style=" margin-left:20px; margin-right:20px">

        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameOfLostItem" class="control-label">Name of Item Lost</label>
                <input asp-for="NameOfLostItem" class="form-control" placeholder="In One Word e.g Phone " />
                <span asp-validation-for="NameOfLostItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Category</label>
                <select class="form-control" asp-for="ItemCategory" asp-items="@Html.GetEnumSelectList<ItemCategory>()">
                    <option selected="selected" name="" value="">Please select a Category</option>
                </select>

                <span asp-validation-for="ItemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"> </label>
                <input asp-for="Description" class="form-control" placeholder="Brief details " />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"> </label>
                @Html.DropDownListFor(m => m.StateId,
              new SelectList(ViewBag.StateList, "Id", "Name"),
              "Select state",
              new { @class = "form-control", @onchange="FillCity()",id="state" })

                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"></label>
                <select id="lga" class="form-control" name="LocalGovernmentId">
                    <option selected="selected" name="" value="">Please select LGA</option>
                </select>

                <span asp-validation-for="LocalGovernmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="DateMisplaced" class="control-label">Date Lost</label>
                <input placeholder="Selected date" id="datePickerId" type="date" name="DateMisplaced" class="form-control">
                <span asp-validation-for="DateMisplaced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExactArea" class="control-label"></label>
                <input asp-for="ExactArea" class="form-control" placeholder="e.g, Ojota" />
                <span asp-validation-for="ExactArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" WhereItemWasLost" class="control-label">Where Item was Lost </label>
                <input asp-for="WhereItemWasLost" class="form-control" placeholder="e.g,In a bus" />
                <span asp-validation-for="WhereItemWasLost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="08023455432" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @*   <label asp-for=" Image" class="control-label"></label>*@
                <img class="rounded-circle" src="~/@image" style="margin-left:70px; margin-bottom:10px;" height="200" width="250" id="imagePreview" />
                <input asp-for="Photo" type="file" class="form-control" style="margin-left:70px; width:200px;" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))" /> @*placeholder="upload Image" />*@
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<script>
    datePickerId.max = new Date().toISOString().split("T")[0];

    //$("#state").on('change', function () {
    //    alert(this.value);
    //});
    function ShowImagePreview(imageUploader, previewImage) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $(previewImage).attr('src', e.target.result);
        }
        reader.readAsDataURL(imageUploader.files[0]);
    }

    function FillCity() {
        $("#state").on('change', function () {
            var val = this.value;
        });
        var stateId = $("#state").val();
        var selectedCountry = $("#state").children("option:selected").val()
        $.ajax({
            url: '/Home/LocalGovernments',
            type: "GET",
            dataType: "JSON",
            data: { id: stateId },
            success: function (cities) {
                $("#lga").html(""); // clear before appending new list
                $("#lga").append($('<option></option>').val("").html("Please select LGA"));
                $.each(cities, function (i, city) {
                    $("#lga").append(
                        $('<option></option>').val(city.id).html(city.name));
                });

            }
        });
    }
</script>
<script>

    $(document).ready(function () {
        $("#state,#lga").select2();
    });
</script>
<script src="~/lib/select2/dist/js/select2.min.js"></script>