@{
    Layout = "_LayoutUser";
}
@model LostItem

@{
    ViewData["Title"] = "Edit";
    var img = "Photos/" + (Model.Image?.ImagePath ?? "home 1081.jpg");

}

<h2>Edit</h2>

<h4>LostItem</h4>
<hr />
<div class="row">
    <form asp-action="Edit" enctype="multipart/form-data">

        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @*//  <input type="hidden" asp-for="LostItemUser" />*@
            <div class="form-group">
                <label asp-for="NameOfLostItem" class="control-label"></label>
                <input asp-for="NameOfLostItem" class="form-control" />
                <span asp-validation-for="NameOfLostItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Category</label>
                <select class="form-control" asp-for="ItemCategory" asp-items="@Html.GetEnumSelectList<ItemCategory>()">
                    <option selected="selected" name="" value="">Please select a Category</option>
                </select>
                <span asp-validation-for="ItemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExactArea" class="control-label"></label>
                <input asp-for="ExactArea" class="form-control" />
                <span asp-validation-for="ExactArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereItemWasLost" class="control-label"></label>
                <input asp-for="WhereItemWasLost" class="form-control" />
                <span asp-validation-for="WhereItemWasLost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <img class="rounded-circle" src="~/@img" style="margin-left:70px; margin-bottom:10px;" height="200" width="200" id="imagePreview" />
                <input name="file" type="file" />
                @* <span asp-validation-for="Photo" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="DateMisplaced" class="control-label">Date Found</label>
                <input asp-for="DateMisplaced" id="datePickerId" type="date" class="form-control daterangepicker">
                <span asp-validation-for="DateMisplaced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalGovernmentId" class="control-label"> Local Government </label>
                @Html.DropDownListFor(m => m.LocalGovernmentId,
              new SelectList(ViewBag.LGA, "Id", "Name"),
              "Select state",
              new { @class = "form-control"})
                <span asp-validation-for="LocalGovernmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    datePickerId.max = new Date().toISOString().split("T")[0];
    function ShowImagePreview(imageUploader, previewImage) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $(previewImage).attr('src', e.target.result);
        }
        reader.readAsDataURL(imageUploader.files[0]);
    }
</script>