<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/images/favicon.png">
    <title>@ViewData["Title"] - CoreSamuraiWebApp</title>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .container a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" id="cont">
                <img src="~/admin/assets/images/favicon.png" sizes="16x16" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Misfinder</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="nav navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-area="Admin" asp-controller="DashBoard" asp-action="Index">Dashboard</a></li>

                        }

                        <li><a asp-area="User" asp-controller="LostItem" asp-action="Index">Lost Items<span class="sr-only">(current)</span></a></li>
                        <li><a asp-area="User" asp-controller="FoundItem" asp-action="Index">Found Items</a></li>
                        <li><a asp-area="User" asp-controller="FoundItemClaim" asp-action="Index">Found Items Claims</a></li>
                        <li><a asp-area="User" asp-controller="LostItemClaim" asp-action="Index">Lost Items Claims</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li style="float:right" id="rit"><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>}
                    </ul>
                </div>
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Quotes" asp-action="Index">Quotes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Samurais" asp-action="Index">Samurais</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </nav>
    </header>

    @* <div style="position:relative; z-index:1; " class="container body-content">*@
    <div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer style="position:relative;">
        <hr />
        <p>&copy; @DateTime.Now.Year - MisFinder</p>
    </footer>
    <environment include="Development">

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>