
@model LostItemViewModel

@*@{
    ViewData["Title"] = "Create";
}*@

<h4>Register Lost Item</h4>
<hr />
<div class="row" onload="ola()">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameOfLostItem" class="control-label">Name of Item Lost</label>
                <input asp-for="NameOfLostItem" class="form-control" placeholder="In One Word e.g Phone " />
                <span asp-validation-for="NameOfLostItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"> </label>
                <input asp-for="Description" class="form-control" placeholder="Brief details " />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"> State </label>
                @Html.DropDownListFor(m => m.StateId,
              new SelectList(ViewBag.StateList, "Id", "Name"),
              "Select state",
              new { @class = "form-control", @onchange="FillCity()",id="state" })
                    @*<select id="state" asp-for="StateId" asp-items="@(new SelectList(@ViewBag.StateList, "Id","Name",new { @class = "form-control", @onchange="FillCity()" }))" class="form-control">
                <option selected="selected" value="">Please select State</option>
            </select>*@
               <span asp-validation-for= "StateId" class="text-danger"></span>
               </div>

               <div class="form-group">
                   <label class="control-label"> LGA</label>
                   <select id = "lga" class="form-control" name="LocalGovernmentId">
                       <option selected = "selected" name="" value="">Please select LGA</option>
                   </select>

            <span asp-validation-for="LocalGovernmentId" class="text-danger"></span>

                        </div>
            @*@Html.DropDownListFor(m => m.StateId,
    new SelectList(ViewBag.StateList, "StateId", "StateName"),
    "Select state",
    new { @class = "form-control", @onchange="FillCity()" }*@)

                @*<div class="form-group">
            <label asp-for="Description" class="control-label"> </label>
            <input asp-for="Description" class="form-control" placeholder="Brief details " />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="DateMisplaced" class="control-label">Date Found</label>
                    <input placeholder="Selected date" id="datePickerId" type="date" name="DateMisplaced" class="form-control daterangepicker">
                    <span asp-validation-for="DateMisplaced" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExactArea" class="control-label"></label>
                    <input asp-for="ExactArea" class="form-control" placeholder="e.g, Ojota" />
                    <span asp-validation-for="ExactArea" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=" WhereItemWasLost" class="control-label"></label>
                    <input asp-for="WhereItemWasLost" class="form-control" placeholder="e.g,In a bus" />
                    <span asp-validation-for="WhereItemWasLost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=" PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="08023455432" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for=" SpecificLocation" class="control-label"></label>
            <input asp-for="SpecificLocation" class="form-control" placeholder="e.g, In a bus" />
            <span asp-validation-for="SpecificLocation" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-default" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Profile">Back to List</a>
</div>
<script>
    datePickerId.max = new Date().toISOString().split("T")[0];

    //$("#state").on('change', function () {
    //    alert(this.value);
    //});

    function FillCity() {
        $("#state").on('change', function () {
            var val =this.value;
        });
        var stateId = $("#state").val();
        var selectedCountry = $("#state").children("option:selected").val()
        $.ajax({
            url: '/LostItem/LocalGovernments',
            type: "GET",
            dataType: "JSON",
            data: { id: stateId },
            success: function (cities) {
                $("#lga").html(""); // clear before appending new list 
                $("#lga").append($('<option></option>').val("").html("Please select LGA"));
                $.each(cities, function (i, city) {
                    $("#lga").append(
                        $('<option></option>').val(city.id).html(city.name));
                });

            }
        });
    }
</script>



