@inject SignInManager<ApplicationUser> SignInManager

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/images/favicon.png">
    <title>MisFinder</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendors/lightbox/simpleLightbox.css">
    <!-- <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/vendors/popup/magnific-popup.css"> -->
    <!-- main css -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body data-target="#mainNav" data-offset="70">

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu" id="mainNav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" asp-controller="Home" asp-action="Index"><h2 style="color:white" class="font-italic"><span>misFinder</span></h2></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="~/#home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/#">About</a></li>

                            @{ if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item submenu dropdown">
                                        @*  data-toggle="dropdown" class="dropdown-toggle hdbutton*@
                                        @if (!User.IsInRole("Admin"))
                                        {
                                            <a href="~/#" class="nav-link dropdown-toggle hdbutton" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <i class="fa fa-angle-down"></i> </a>

                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a class="nav-link" asp-area="User" asp-controller="LostItem" asp-action="Index">Lost Items</a></li>
                                                <li class="nav-item"><a class="nav-link" asp-area="User" asp-controller="FoundItem" asp-action="Index">Found Items</a></li>
                                               
                                                <li class="nav-item">
                                                    <a class="nav-link1 dropdown-toggle " data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false" asp-area="User" asp-action="Claims">Claims</a>
                                                                     <ul class="dropdown-menu ">
                                                                         <li class="nav-item"><a class="nav-link" asp-area="User" asp-controller="LostItem" asp-action="Index">Lost Item Claims</a></li>
                                                                         <li class="nav-item"><a class="nav-link" asp-area="User" asp-controller="FoundItem" asp-action="Index">Found Ite Claims</a></li>


                                                                     </ul></li>

                                            </ul>
                                        }
                                        else
                                        {
                                            <a href="~/#" class="nav-link dropdown-toggle hdbutton" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <i class="fa fa-angle-down"></i></a>

                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                                            </ul>
                                        }
                                    </li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="LogOut">LogOut</a></li>

                                }
                                else
                                {
                                    <li class="nav-item"><a class="nav-link" asp-action="Login" asp-controller="Account">Login</a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <div class="home_banner_area">
        <section id="home">
            <div class="banner_inner">
                @*<div class="container">*@
                @*<div class="banner_content">
                        <h2>Precise concept design <br />for stylish living</h2>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
                        <a class="banner_btn" href="~/#">Get Started</a>
                    </div>*@

                @RenderBody()

                @*</div>*@
            </div>

        </section>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>
    @*<script src="~/js/stellar.js"></script>
        <script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="~/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="~/vendors/isotope/isotope-min.js"></script>
        <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/vendors/counter-up/jquery.counterup.js"></script>
        <script src="~/js/mail-script.js"></script>
        <script src="~/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="~/js/theme.js"></script>*@
</body>
</html>