@inject SignInManager<ApplicationUser> SignInManager
<div class="btn-link">
    <a asp-action="Index" asp-controller="LostItem" >Lost Item</a>
    <a asp-action="Index" asp-controller="FoundItem">Found Item</a>
</div>

<script> 
    a: hover
    {
        text-decoration: none;
    }
    
</script>