@model FoundItem

@{
    Layout = "_LayoutUser";
    ViewData["Title"] = "Edit";
    var img = "Photos/" + (Model.Image?.ImagePath ?? "home 1081.jpg");

}
<style>
    .form-control {
        border-radius: 31px;
    }
</style>
<hr />
<form asp-action="Edit">

    <div class="row" style=" margin-left:20px; margin-right:20px">

        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="NameOfFoundItem" class="control-label"></label>
                <input asp-for="NameOfFoundItem" class="form-control" />
                <span asp-validation-for="NameOfFoundItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Category</label>
                <select class="form-control" asp-for="ItemCategory" id="lga" asp-items="@Html.GetEnumSelectList<ItemCategory>()">
                    <option selected="selected" name="" value=""></option>
                </select>
                <span asp-validation-for="ItemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereItemWasFound" class="control-label">Location</label>
                <input asp-for="WhereItemWasFound" class="form-control" />
                <span asp-validation-for="WhereItemWasFound" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="ExactArea" class="control-label">Area</label>
                <input asp-for="ExactArea" class="form-control" />
                <span asp-validation-for="ExactArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFound" class="control-label">Date Found</label>
                <input asp-for="DateFound" id="datePickerId" type="date" class="form-control daterangepicker">
                <span asp-validation-for="DateFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalGovernmentId" class="control-label"> Local Government </label>
                @Html.DropDownListFor(m => m.LocalGovernmentId,
              new SelectList(ViewBag.LGA, "Id", "Name"),
              "Select state",
              new { @class = "form-control", id ="state"})
                <span asp-validation-for="LocalGovernmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <img class="rounded-circle" src="~/@img" style="margin-left:70px; margin-bottom:10px;" height="200" width="200" id="imagePreview" />
                <input name="file" type="file" />
                @* <span asp-validation-for="Photo" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>

    $(document).ready(function () {
        $("#lga").select2();
    });

    function ShowImagePreview(imageUploader, previewImage) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $(previewImage).attr('src', e.target.result);
        }
        reader.readAsDataURL(imageUploader.files[0]);
    }
</script>
<script src="~/lib/select2/dist/js/select2.min.js"></script>