@model LostItemClaimViewModel
@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_LayoutUser";
    var image = "Photos/home 1081.jpg";

}
<style>
    .form-control {
        border-radius: 31px;
    }
</style>
<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />

<h2>Create Claim</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="row" style=" margin-left:20px; margin-right:20px">

        <div class="col-lg-4">
            <input type="hidden" asp-for="LostItemId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Detailed Description  </label>
                <textarea asp-for="Description" class="form-control" rows="3"
                          placeholder="A green File bag containing Certificates found in a bus going to Yaba on Monday Evening. Name on University Certificate is Obafemi Kazeem"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFound" class="control-label">Date Found</label>
                <input placeholder="Selected date" id="datePickerId" type="date" name="DateFound" class="form-control daterangepicker">
                @*<input type="date" asp-for="DateFound.Date" class="form-control" />*@
                <span asp-validation-for="DateFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="09056463632" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereItemWasFound" class="control-label">Location Item Was Found</label>
                <input asp-for="WhereItemWasFound" class="form-control" placeholder="E.g In a Bus" />
                <span asp-validation-for="WhereItemWasFound" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @*   <label asp-for=" Image" class="control-label"></label>*@
                <img src="~/@image" style="margin-left:70px; margin-bottom:10px;" height="200" width="250" id="imagePreview" class="rounded-circle" />
                <input name="file" type="file" class="form-control" style="margin-left:70px; width:200px;" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))" /> @*placeholder="upload Image" />*@
            </div>

            <div class="form-group">
                <input type="submit" value="Claim" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<script>
    datePickerId.max = new Date().toISOString().split("T")[0];
    function ShowImagePreview(imageUploader, previewImage) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $(previewImage).attr('src', e.target.result);
        }
        reader.readAsDataURL(imageUploader.files[0]);
    }
</script>